.uncover-your-risk-container {
    padding: 32px;

    .disclaimer-container {
        max-width: 900px;
    }

    .steps-container {
        margin-top: 2rem;
        margin-bottom: 2rem;

    }

    .question-container {
        margin-top: 16px;
    }

    .button-group-container {
        margin-top: 16px;
        display: flex;
        gap: 1rem;
    }
}