@import "./globalstyle/variables.scss";

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    line-height: 24px;
    margin: 0;
    background-color: #1a1d23;
    color: white;

    // background: radial-gradient(90.99% 90.99% at 50% 0%,
    //         rgba(80, 115, 0, 0.50) 0%,
    //         rgba(80, 115, 0, 0.25) 38.61%,
    //         rgba(80, 115, 0, 0.12) 100%);
}

.ant-menu-overflow {
    width: 80%;
    display: block;
    text-align: center;
    background: inherit;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item-selected {
    background-color: rgba(80, 115, 0, 0.75);
}